a:link {
  text-decoration: none;
  //text-decoration-color: #235440;
  //text-decoration-thickness: 1px;
  //text-underline-offset: 3px;
}
a:visited {
    text-decoration: none;
    //text-decoration-color: #235440;
    //text-decoration-thickness: 1px;
    //text-underline-offset: 3px;
}
a:hover {
    color: #235440;
    text-highlight: true;
    text-highlight-color: #235440;
    //text-decoration-thickness: 1px;
    //text-underline-offset: 3px;
}
a:active {
  text-decoration: none;
}