html {
    font-size: 15px;
}
body {
    font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-size: 1rem;
    line-height: 1.6;
    margin: 2rem;
    background: #a3bc88;
}
.container {
    max-width: 600px;
    background: #a3bc88;
}
header .content {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
header hr {
    display: none;
}
.logo h2 {
    font-size: inherit;
    display: inline-block;
}
.slogan {
    display: none;
}
ul.nav, ul.tags {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
ul.nav li + li {
    margin-left: 1rem;
}
.article-list {
    margin: 1rem 0;
}
article.list-article {
    display: flex;
    justify-content: space-between;
}
.list-article .article-name span {
    display: none;
}
ul.tags li + li {
    margin-left: 1rem;
}
footer .plugin {
    margin-bottom: 2rem;
}
a:link {
  text-decoration: none;
  //text-decoration-color: #235440;
  //text-decoration-thickness: 1px;
  //text-underline-offset: 3px;
}
a:visited {
    text-decoration: none;
    //text-decoration-color: #235440;
    //text-decoration-thickness: 1px;
    //text-underline-offset: 3px;
}
a:hover {
    color: #235440;
    text-highlight: true;
    text-highlight-color: #235440;
    //text-decoration-thickness: 1px;
    //text-underline-offset: 3px;
}
a:active {
  text-decoration: none;
}
hr {
    margin: 2rem 0;
}
@media screen and (max-width: 640px) {
    body {
        margin: 1rem;
    }
}